@media screen and (min-width: 500px) {
    .container {
        width: 46rem;
    }
    .main-heading h2 {
        font-size: 7.3rem;
    }
    .header-content h1 {
        font-size: 4.1rem;
    }
    .header-content .sub-heading {
        font-size: 2.1rem;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 576px) {
    .container {
        width: 51.6rem;
        padding: 0;
    }
    .nav ul {
        display: flex;
    flex-wrap: wrap;
    }
    .gallary {
        column-count: 2;
    }
    .portfolio-links ul {
        font-size: 1.6rem;
    }
    .portfolio-links a {
        padding: 6px 12px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 67.6rem;
    }
    .main-heading{
        padding: 3rem 0 1.8rem;
    }
    .main-heading h2 {
        font-size: 9.5rem;
    }
    .header h1 {
        font-size: 5rem;
    }
    .number-item {
        width: 25%;
        border-bottom: 0;
    }
    .number-item h4 {
        font-size: 4.1rem;
        font-weight: 500;
    }
    .number-item:nth-child(2) {
        border-right: 1px solid #eee;
    }

    .services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .service-item {
        width: 49%;
    }


    .summary {
        display: flex;
        justify-content: space-between;
    }
    .summary-container {
        width: 48%;
    }

    .skills-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .skill-item {
        width: 48%;
    }

    .contacts-container {
        display: flex;
    }
    .contacts-form {
        order: 1;
        width: 65%;
    }
    .contacts-form h3 {
        text-align: left;
    }
    .contacts-info {
        width: 35%;
        text-align: left;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 93.6rem;
    }
    
    .main-heading h2 {
        font-size: 11rem;
    }
    .header h1 {
        font-size: 5.7rem;
    }
    .about-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 3rem;
    }
    .about-desc {
        width: 58% ;
        text-align: left;
    }
    .about-list {
        width: 38%;
        margin: 0;
    }
    .number-item h4 {
        font-size: 4.8rem;
    }

    .gallary {
        column-count: 3;
    }

    .clients-container {
        display: flex;
        justify-content: space-between;
    }
    .client-item {
        width: 48%;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 111.6rem;
    }
    .header h1 {
        font-size: 6.4rem;
    }
    .main-heading{
        padding: 5rem 0 2.2rem;
    }
    .main-heading h2 {
        font-size: 13rem;
    }

    .contacts-form {
        width: 75%;
    }
    .contacts-info {
        width: 25%;
    }
    .form-input {
        display: flex;
        justify-content: space-between;
    }
    .contacts-form input {
        width: 49%;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 129.6rem;
    }

    .services .container {
        width: 120rem;
    }
    
}